*{
    margin: 0;
}

.navbar{
    background-color: #2b61bd;
    display: flex;
    justify-content: space-between;
    text-shadow: 1px 1px 1px black;
}

.nav-logo-box{
    display: flex;
}

.nav-links-box{
    margin-right: 2%;
    display: flex;
}

.nav-links{
    color: white;
    padding: 1vh;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.nav-links:hover {
    background-color: #748CAF;
}

.search{
    margin: 1% 1% 0 10%;
}

.followers{
    display: flex;
    justify-content: space-between;
}

.all-followers{
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
}

.followers-control{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    margin: 1% 5% 1% 1%;
    border: solid #c0c0c0 3px;
    border-radius: 3px;
}

.followers-control-divs{
    border: solid #c0c0c0 4px;
    border-radius: 3px;
    margin: 0 10% 0 10%;
}

.avatar{
    display: flex;
    flex-direction: column;
    margin: 1%;
    padding: 1%;
    border: solid silver 3px;
    border-radius: 3px;
}

.avatar-divs{
    margin: 1%;
    display: flex;
    justify-content: center;
}

.regular-avatar-img{
    width: 30%;
}

.control-avatar-img{
    width: 50%;
}

#logo-img{
    width: 1.2em;
}

#followers-control-font{
    font-weight: bold;
}